<h1>Pets</h1>
	<div id="pet-list">
	    <input class="search" placeholder="Search" />
	    <button class="sort" data-sort="name">
	      Sort by name
	    </button>

	    <ul class="list"></ul>

	</div>

<%= @pets.each do |pet| %>
			pet.name
<% end %>

<%= link_to 'New Pet', new_pet_path %>
