*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

 *{
  border: 1px solid red;
 }

 body {
  max-width: 2000px;
 }

 #pet-list {
  display: inline;
  margin: 0;
  padding: 0;
  width: 90%;
}

.tools {
  display: inline-block;
  width: 100%;
}

.list {
  background-color: #232323;
  display: inline-block;
  margin: 2px;
  padding: 2px;
  max-height: 10000px;
  width: 65%;
}

.list ul {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  margin: 6px auto;
  padding: 2px;
  position: relative;
  top: 0;
  width: 30.33%;
}

.pet-entry li {
  display: block;
  margin: 2px;
  padding: 2px;
  word-wrap: normal;
  width: 100%;
}

#profile {
  background-color: white;
  display: block;
  height: 170px;
  margin: 2px auto;
  width: 210px;
}

#profile img {
  display: block;
  padding: 0;
  margin: 0 auto;
  width: 200px;
}
