*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

 *{
  border: 1px solid red;
 }

 body {
  font-family: "Open Sans", sans-serif;
  max-width: 2000px;
 }

 #pet-list {
  display: inline;
  margin: 0;
  padding: 0;
  width: 90%;
}

.tools {
  display: inline-block;
  float: left;
  padding-left: 15px;
  width: 33%;
}

.search {
  font-size: 1.5em;
  font-weight: 200;
  height: 50px ;
  margin: 5px auto;
  padding: 15px;
  width: 80%;
}

button {
  background-color: white;
  height: 50px;
  margin: 5px auto;
  width: 100px;
}

.list {
  background-color: #232323;
  display: inline-block;
  float: right;
  margin: 2px;
  padding: 2px;
  max-height: 10000px;
  width: 65%;
}

.list ul {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  margin: 6px auto;
  padding: 2px;
  position: relative;
  top: 0;
  width: 30.33%;
  vertical-align: top;
}

.pet-entry li {
  display: block;
  margin: 2px;
  padding: 2px;
  word-wrap: normal;
  width: 100%;
}

#profile {
  background-color: black;
  display: block;
  height: 165px;
  margin: 2px auto;
  width: 210px;
}

#profile img {
  display: block;
  margin: 0 auto;
  padding-top: 2px;
  width: 200px;
}
