<header id="header">
  <div class="header-holder">
    <div class="header-frame">
      <div class="header-info">
        <div class="logo">
          <%= link_to image_tag("logo.png"), root_path %>
        </div>
        <div class="social-networks">
          <strong class="title">Sniff Us Out</strong>
          <ul>
            <li class="facebook"><%= link_to "Facebook", "http://www.facebook.com/petstablished" %></li>
            <li class="twitter"><%= link_to "Twitter", "https://twitter.com/petstablished" %></li>
            <li class="instagram"><%= link_to "Instagram", "http://instagram.com/petstablished" %></li>
          </ul>
        </div>
      </div>
      <div class="btn-area">
        <%# link_to "Sign up for a Demo", "http://www.petstablished.com/signups/new", class: "btn btn-demo" %>
        <%# link_to "Subscribe to our Newsletter", "http://www.petstablished.com/newsletters/new", class: "btn" %>
      </div>
    </div>
  </div>

   <% image_tag "header-bg.jpg" %>
 </header>


